<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ADOModel.csdl|res://*/ADOModel.ssdl|res://*/ADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5gcoders.database.windows.net;initial catalog=5gcoders;user id=coders5g;password=123456aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="5GCoders" connectionString="Data Source=5gcoders.database.windows.net;Initial Catalog=5gcoders;User ID=5GCoders;Password=123456aA" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
