<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="5GCoders" connectionString="Data Source=5gcoders.database.windows.net;Initial Catalog=5gcoders;User ID=5GCoders;Password=123456aA" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
